<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{name}}</title>
  </head>
  <body>
    <h3>{{name}}</h3>
    <table border="1">
      <tr>
        <td><b>Опис завдання:</b></td>
        <td>{{description}}</td>
      </tr>
      <tr>
        <td><b>Передумова:</b></td>
        <td>{{precondition}}</td>
      </tr>
      <tr>
        <td><b>Постумова:</b></td>
        <td>{{postcondition}}</td>
      </tr>
      {{#if invariant}}
        <tr>
          <td><b>Інваріант циклу:</b></td>
          <td>{{invariant}}</td>
        </tr>
        <tr>
          <td><b>Обмежуюча функція циклу:</b></td>
          <td>{{boundaryFunction}}</td>
        </tr>
      {{/if}}
    </table>
    <form action="./{{name}}" method="POST">
      <input type="hidden" name="name" value="{{name}}" />
      <p>Введіть код рішення задачі у текстове поле:</p>
      <p>
        {{!-- We might have no code in context. This is fine. --}}
        <textarea name="code" rows="15" cols="80">{{code}}</textarea>
      </p>
      <p>
        <input type="submit" value="Перевірити" />
      </p>
    </form>
    {{!-- If verification has been performed,
          we'll display its results. --}}
    {{#if verification}}
      {{#if verification.parsingErrors}}
        <p>У програмі присутні синтаксичні помилки.</p>
        <table border="1">
          <tr>
            <th>Координати</th>
            <th>Опис помилки</th>
          </tr>
          {{#each verification.parsingErrors}}
            <tr>
              <td>{{row}}:{{col}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </table>
      {{else if verification.semanticErrors}}
        <p>У програмі присутні семантичні помилки.</p>
        <table border="1">
          <tr>
            <th>З</th>
            <th>До</th>
            <th>Опис помилки</th>
          </tr>
          {{#each verification.semanticErrors}}
            <tr>
              <td>{{start.row}}:{{start.col}}</td>
              <td>{{end.row}}:{{end.col}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        <p>Рішення вірне!</p>
      {{/if}}
    {{/if}}
  </body>
</html>