<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{name}}</title>
    <style>
      pre {
        white-space: pre-wrap
      }
    </style>
  </head>
  <body>
    <h3>{{name}}</h3>
    <table border="1">
      <tr>
        <td><b>Task description:</b></td>
        <td>{{description}}</td>
      </tr>
      <tr>
        <td><b>Precondition:</b></td>
        <td><pre>{{precondition}}</pre></td>
      </tr>
      <tr>
        <td><b>Postcondition:</b></td>
        <td><pre>{{postcondition}}</pre></td>
      </tr>
      {{#each loops}}
        <tr>
          <td><b>Loop #{{@index}} invariant:</b></td>
          <td><pre>{{invariant}}</pre></td>
        </tr>
        <tr>
          <td><b>Loop #{{@index}} variant:</b></td>
          <td><pre>{{variant}}</pre></td>
        </tr>
      {{/each}}
    </table>
    <form action="./{{name}}" method="POST">
      <input type="hidden" name="name" value="{{name}}" />
      <p>Input your program code into the text area below.</p>
      <p>
        {{!-- We might have no code in context. This is fine. --}}
        <textarea name="code" rows="15" cols="80">{{code}}</textarea>
      </p>
      <p>
        <input type="submit" value="Verify" />
      </p>
    </form>
    {{!-- If verification has been performed,
          we'll display its results. --}}
    {{#if verification}}
      {{#if verification.parsingErrors}}
        <p>The program contains syntax errors.</p>
        <table border="1">
          <tr>
            <th>Coordinates</th>
            <th>Error description</th>
          </tr>
          {{#each verification.parsingErrors}}
            <tr>
              <td>{{row}}:{{col}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </table>
      {{else if verification.semanticErrors}}
        <p>The program contains semantic errors.</p>
        <table border="1">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Error description</th>
          </tr>
          {{#each verification.semanticErrors}}
            <tr>
              <td>{{start.row}}:{{start.col}}</td>
              <td>{{end.row}}:{{end.col}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        <p>The solution is correct!</p>
      {{/if}}
    {{/if}}
  </body>
</html>