<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{name}}</title>
  </head>
  <body>
    <h3>{{name}}</h3>
    <table border="0">
      <tr>
        <td>Опис завдання:</td>
        <td>{{description}}</td>
      </tr>
      <tr>
        <td>Передумова:</td>
        <td>{{precondition}}</td>
      </tr>
      <tr>
        <td>Постумова:</td>
        <td>{{postcondition}}</td>
      </tr>
      {{#if invariant}}
        <tr>
          <td>Інваріант циклу:</td>
          <td>{{invariant}}</td>
        </tr>
        <tr>
          <td>Обмежуюча функція циклу:</td>
          <td>{{boundaryFunction}}</td>
        </tr>
      {{/if}}
    </table>
    <form action="./{{name}}" method="POST">
      <input type="hidden" name="name" value="{{name}}" />
      <p>Введіть код рішення задачі у текстове поле:</p>
      <p>
        {{!-- We might have no code in context. This is fine. --}}
        <textarea name="code" rows="15" cols="80">{{code}}</textarea>
      </p>
      <p>
        <input type="submit" value="Перевірити" />
      </p>
    </form>
    {{!-- If verification has been performed,
          we'll display its results. --}}
    {{#if verification}}
      {{#if verification.parsingErrors}}
        <table>
          <tr>
            <th>Line:Column</th>
            <th>Error Description</th>
          </tr>
          {{#each verification.parsingErrors}}
            <tr>
              <td>{{row}}:{{col}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </table>
      {{else if verification.semanticErrors}}
        <table>
          <tr>
            <th>Start Line:Column</th>
            <th>End Line:Column</th>
            <th>Error Description</th>
          </tr>
          {{#each verification.semanticErrors}}
            <tr>
              <td>{{start.row}}:{{start.col}}</td>
              <td>{{end.row}}:{{end.col}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        <p>Рішення вірне!</p>
      {{/if}}
    {{/if}}
  </body>
</html>